html, body, div {
    margin: 0;
    padding: 0;
}

@keyframes kurtyna {
    0% {
        height: 0vh;
    }
     100% {
        height: 50vh;
    }
}

div.kurtyna1{
  background-color: #0f0; 
    width: 100vw;
    height: 50vh;
    animation-name: kurtyna;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    position: absolute;
   top: 0;
}

div.kurtyna2{
    background-color: #00f; 
    width: 100vw;
    height: 50vh;
    animation-name: kurtyna;
    animation-duration: 2s;
     animation-iteration-count: 1;
    animation-timing-function: ease;
    position: absolute;
    bottom: 0;
}