body {
    font-size: 100px;
}

@keyframes puls {
    0%, 100% {
        transform: scale(1,1);
    }
    
    25%, 50% {
        transform: scale(1,1);
    }
    
    50% {
        transform: scale(1.2,1.2);
    }
}

.serce {
    color: red;
    animation-name: puls;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}